# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\go_code\src\shorturl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
